{% extends 'admin/base.html.twig' %}

{% block title %}Post creating...{% endblock %}

{% block body %}
    <form action="{{ path(admin_prefix ~ 'store_post') }}" method="post">
        <div class="row">
            <div class="col-md-1">
                <label for="category-id">Category:</label>
            </div>
            <div class="col-md-3">
                <select id="category-id" name="category-id">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-1">
                <label for="title">Title: </label>
            </div>
            <div class="col-md-3">
                <input type="text" id="title" placeholder="Title" name="title">
            </div>
            <div class="col-md-1">
                <label for="short-description">Short description: </label>
            </div>
            <div class="col-md-3">
                <textarea id="short-description" placeholder="Short description" name="short-description"></textarea>
            </div>
            <div class="col-md-1">
                <label for="content">Content: </label>
            </div>
            <div class="col-md-10">
                <textarea class="width-100" rows="20" id="content" placeholder="Content" name="content"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-11">
                <button type="submit" class="btn">Save</button>
            </div>
        </div>
    </form>
{% endblock %}