{% extends 'admin/base.html.twig' %}

{% block title %}Category creating...{% endblock %}

{% block body %}
    <form id="remove-category-form" action="{{ path(admin_prefix ~ 'delete_category', {id: category.id}) }}" method="post"></form>
    <form action="{{ path(admin_prefix ~ 'update_category', {id: category.id}) }}" method="post">
        <div class="row">
            <div class="col-md-1">
                <label for="category-name">Category name:</label>
            </div>
            <div class="col-md-3">
                <input class="width-100" type="text" id="category-name" name="category-name" placeholder="Enter name" value="{{ category.name }}">
            </div>
            <div class="col-md-1">
                <label for="category-slug">Category slug:</label>
            </div>
            <div class="col-md-3">
                <input class="width-100" type="text" id="category-slug" name="category-slug" placeholder="Enter slug" value="{{ category.slug }}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <button type="submit" class="btn">Save</button>
                <button form="remove-category-form" type="submit" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </form>
{% endblock %}