<div class="row post-row">
    <div class="col-md-4">
        <a href="{{ path('post', {id: post.id}) }}">{{ post.title }}</a>
    </div>
    <div class="col-md-5">
        {{ post.shortDescription }}
    </div>
    <div class="col-md-3 text-right">
        {{ post.createdAt | date("d M, Y") }}
    </div>
</div>